body{

    color: white;
    text-align: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.imagem{

    height: 250px;
    width: 250px;
    border-radius: 100px;
    background-color: rgb(28, 28, 106);
   
}

.apresentacao{

    float: left;
    border-radius: 20px;
    border-style: groove;
    background: rgb(59, 49, 113);
    height: 350px;
    width: 450px;
    padding: 30px;
    margin: auto;

}

#nome{

    background-color: rgb(15, 15, 64);
    margin: 0;
}

.competencias{
    list-style: none;
    border-radius: 20px;
    border-style: groove;
    background: rgb(59, 49, 113);
    height: 350px;
    width: 450px;
    padding: 30px;
    margin: auto;
    float: right;

}

.contato{

        list-style: none;
        border-radius: 20px;
        border-style: groove;
        background: rgb(59, 49, 113);
        height: 350px;
        width: 450px;
        padding: 30px;
        margin: auto;

    
}

a{

    color: white;
}

ul{

    list-style: none;
}

.conteudo{

    margin-top: 250px;
}