body{
    background-color: rgb(21, 14, 54);
    color: white;
}

.imagem{

    height: 250px;
    width: 250px;
    border-radius: 100px;
}

.apresentacao{

    border-radius: 20px;
    border-style: groove;
    background: rgb(59, 49, 113);
    height: 350px;
    width: 450px;
    padding: 30px;
}

.competencias{
    list-style: none;
    border-radius: 20px;
    border-style: groove;
    background: rgb(59, 49, 113);
    height: 350px;
    width: 450px;
    padding: 30px;
}